<footer id="footer">
	<div class="container">
		<div class="row">
			{{ if .Site.Params.footerEnableContact }}
			<div class="col-md-4 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>{{ .Site.Params.phone }}
						<br>
						<a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
						<br>
						<br> {{ .Site.Params.address }}
					</p>
				</div>
			</div>
			{{ end }} {{ if .Site.Params.footerEnableFollowme }}
			<div class="col-md-4 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						{{ range .Site.Params.social }} {{ if .footer }}
						<a href="{{ .url }}" target="_blank">
							<i class="fab {{ .icon }}"></i>
						</a>
						{{ end }} {{ end }}
					</p>
				</div>
			</div>
			{{ end }} {{ if .Site.Params.footerEnableTextWidget }}
			<div class="col-md-4 widget">
				<h3 class="widget-title">Disclaimer</h3>
				<div class="widget-body">
					<p>This site is a political advertisement paid for by the Michelle Howarth campaign.</p>
					<p>Website design by Ellen Howarth, Built by Matthew Carlson and Github</p>
				</div>
			</div>
			{{ end }} {{ if .Site.Params.footerEnableFormWidget }}
			<div class="col-md-4 widget">
				<h3 class="widget-title">Get in touch</h3>
				<div class="widget-body">
					<p>{{ .Site.Params.phone }}
						<br>
						<a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
						<br>
						<br> {{ .Site.Params.address }}
					</p>
				</div>
			</div>
			{{ end }}

		</div>
		<!-- /row of widgets -->
	</div>
</footer>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/template.js"></script>
<script id="dsq-count-scr" src="//{{ .Site.Params.disqus.site }}/count.js" async></script>
{{ partial "analyticstracking.html" . }}
<script>
	$("*[progressive-image-url]").each(function(index,element){
		console.log(element);
		var img = new Image();

        img.src = $(element).attr('progressive-image-url');
        img.onload = function () {
            $(element).html("");
			console.log("Image Loaded:"+img.src);
			$("#head").css("background-image","url("+img.src+")");//.append(img);
			
        };
	});
</script>
</body>

</html>