<main id="main">
	<div id="issues-carousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#issues-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#issues-carousel" data-slide-to="1"></li>
			<li data-target="#issues-carousel" data-slide-to="2"></li>
			<li data-target="#issues-carousel" data-slide-to="3"></li>
			<li data-target="#issues-carousel" data-slide-to="4"></li>
			<li data-target="#issues-carousel" data-slide-to="5"></li>
			<li data-target="#issues-carousel" data-slide-to="6"></li>
			<li data-target="#issues-carousel" data-slide-to="7"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<div class="carousel-body container" index=0>
					<div class="content">"We must diversify the city’s tax base through quality, well planned, commercial development to reduce the tax burden
						on Sachse families."</div>
				</div>
			</div>
			<div class="item">
				<div class="carousel-body container" index=1>
					"I will work to improve the storm drainage issues in the Sachse and ensure that the new storm water utility fee will be used
					to improve the storm water flooding that occurs so frequently in Sachse."
				</div>
			</div>
			<div class="item">
				<div class="carousel-body container" index=2>
					<div class="content">"I will work to develop walking and biking trails within the city and connect them to those in surrounding communities."</div>
				</div>
			</div>
			<div class="item">
				<div class="carousel-body container" index=3>
					"If property appraisals in the area are rapidly increasing, shouldn't property tax rates be decreasing? I will work to reduce
					city residential property tax rates."
				</div>
			</div>
			<div class="item">
				<div class="carousel-body container" index=4>
					"Issuance of new municipal debt should occur through bond elections approved by voters."
				</div>
			</div>
			<div class="item">
				<div class="carousel-body container" index=5>
					"I support the city's Old Town Comprehensive plan. Small scale mixed use development can revitalize the heart of Sachse while
					maintaining the historic character of the area."
				</div>
			</div>
			<div class="item">
				<div class="carousel-body container" index=6>
					"There are people in Sachse now that have the talent and experience to open and expand the businesses we so desperately need.
					We just need to encourage them- and make it easy for them - to do it here."
				</div>
			</div>
			<div class="item">
				<div class="carousel-body container" index=7>
					"I will work to develop walking and biking trails within the city and connect them to those in surrounding communities."
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<br/>
		<div class="row">
			<div class="col-md-8">
				Latest Updates
				<hr/> {{ range first 10 (where .Data.Pages "Section" "news" ) }}
				<article>
					<!-- this <div> includes the title summary -->
					<div>
						<h2>
							<a href="{{ .RelPermalink }}">{{ .Title }}</a>
						</h2>
						{{ .Summary }}
					</div>
					{{ if .Truncated }}
					<!-- This <div> includes a read more link, but only if the summary is truncated... -->
					<div>
						<a href="{{ .RelPermalink }}">Read More…</a>
					</div>
					{{ end }}
				</article>
				{{ end }}
			</div>
			<div class="col-md-4">
				Videos
				<hr/>
			</div>
		</div>
		<br/>

	</div>
	<!-- /container -->

</main>